<div class="span12">
  <h1>Report for team: <%= status_report.team.name.titleize %></h1>
  <h3><%= status_report.created_at.in_time_zone(status_report.team.timezone).strftime("%m/%d/%Y at %l:%M%p") %></h3>
  <hr/>

  <% if status_report.status_summaries.present? %>
    <% status_report.status_summaries.each do |status_summary| %>
      <strong><%= status_summary.user.email %> @ <%= status_summary.created_at.in_time_zone(status_report.team.timezone).strftime("%m/%d/%Y at %l:%M%p") %></strong>
      <%= simple_format(status_summary.body) %>
      <hr/>
    <% end %>

    <% @no_response_from = status_report.team.users - status_report.users%>
    <% if @no_response_from.present? %>
      <br/><br/>
      <h3>Not yet responded:</h3>

      <ul>
      <% @no_response_from.each do |user| %>
        <li><%= user.email %></li>
      <% end %>
      </ul>
    <% end %>
  <% else %>
    <h3>Waiting for updates from the team...</h3>
  <% end %>


</div>
