<div class="container">
  <h1 style="text-align: center">Select a plan to get started</h1>
  <hr/>
  <% if false %>
  <div class="row demo-tiles">
    <% @plans.each do |plan| %>
    <div class="span4">
      <div class="tile tile-hot">
        <h3 class="tile-title"><% plan.name %></h3>
        <p><%= display_price(plan) %>/<%= plan.interval %></p>
        <%= plan.description.html_safe if plan.description %>

        <%= link_to 'Subscribe', new_organization_path(plan: plan.id), :class => 'btn btn-primary btn-large btn-block' %>
      </div>
    </div>
    <% end %>
    <% if false %>
        <img src="/assets/icons/Flower@2x.png" alt="Chat@2x" class="tile-image">
        <img src="/assets/icons/Circles@2x.png" alt="Infinity-Loop@2x" class="tile-image">
    <% end %>
  </div>
  <% end %>

  <div class="row-fluid plan-container">
    <div class="plan-container span4 no-margin center-group col-3">
      <ul class="plan shadow-lifted  bootstrap-green  col-3 center-group hover-animate-position" data-reset="plan shadow-lifted  bootstrap-green  col-3 center-group hover-animate-position">
        <li class="plan-name">Basic</li>
        <li class="plan-price">$10/mo</li>
        <li>Create a single status report team</li>
        <li>Add up to 20 members per team.</li>
        <li>Send weekly status reports</li>
        <li>Email-based Support</li>
        <li>Unlimited status reports</li>
        <li>Limited reporting</li>
        <li class="plan-footer">
          <%= link_to new_organization_path(plan: 5), :class => 'pricing-select' do %><i class="icon-lock-open-alt"></i>Sign Up Now<% end %>
        </li>
      </ul><div class="divider visible-phone"></div>

    </div>

    <div class="plan-container span4 no-margin featured">
      <ul class="plan shadow-lifted  bootstrap-orange featured hover-animate-position" data-reset="plan shadow-lifted  bootstrap-orange featured hover-animate-position">
        <li class="plan-name">Premium</li>
        <li class="plan-price">$50/mo</li>
        <li>Create up to five status report teams</li>
        <li>Add up to 50 members per team.</li>
        <li>Send daily, weekly, or monthly status reports</li>
        <li>Email-based Support</li>
        <li>Unlimited status reports</li>
        <li>Advanced reporting</li>
        <li class="plan-footer">
          <%= link_to new_organization_path(plan: 5), :class => 'pricing-select' do %><i class="icon-lock-open-alt"></i>Sign Up Now<% end %>
        </li>
      </ul><div class="divider visible-phone"></div>
    </div>

    <div class="plan-container span4 no-margin">
      <ul class="plan shadow-lifted  bootstrap-green hover-animate-position" data-reset="plan shadow-lifted  bootstrap-green hover-animate-position">
        <li class="plan-name">Enterprise</li>
        <li class="plan-price">$250/mo</li>
        <li>Create unlimited status report teams</li>
        <li>Add up to 500 members per team.</li>
        <li>Send daily, weekly, or monthly status reports</li>
        <li>Premium 24hrs support</li>
        <li>Unlimited status reports</li>
        <li>Advanced reporting</li>
        <li class="plan-footer">
          <%= link_to new_organization_path(plan: 5), :class => 'pricing-select' do %><i class="icon-lock-open-alt"></i>Sign Up Now<% end %>
        </li>
      </ul><div class="divider visible-phone"></div>
    </div>
  </div>

</div>


