<div class="span12">

<h1>Managing <%= @organization.subdomain.humanize %></h1>

<p class="lead">Sorry, we're still finishing up this section. For now, you can only deactivate/reactive your account. If you'd like to make other changes to your account, please email <%= mail_to 'support@barbershoplabs.com' %>.</p>

<%= simple_form_for [:admin, @organization], html: { class: "form-vertical" } do |f| %>
  <% if @organization.active? %>
    <%= f.hidden_field :status, value: Organization::STATUSES[:inactive] %>
    <%= f.submit 'Deactivate Account', class: 'btn btn-danger' %>
  <% elsif @organization.inactive? %>
    <%= f.hidden_field :status, value: Organization::STATUSES[:active] %>
    <%= f.submit 'Re-activate Account', class: 'btn btn-primary' %>
  <% end %>
<% end %>


</div>
