<%= simple_form_for [:admin, @team], html: { class: "form-vertical" } do |f| %>
  <%= f.input :name, placeholder: 'Dev team', label: "Name this team" %>
  <%= f.hidden_field :recurrence_type, value: "Weekly" %>
  <%= f.input :recurrence_value, as: :select, collection: Date::DAYNAMES.each_with_index, label: "Request status updates every week on what day?" %>
  <%= f.input :send_request_at, as: :time, label: "At what time?" %>
  <%= f.input :send_digest_days_later, as: :select, collection: 1..7, default: nil, label: "How many days after the request, should we send a digest of the team's udpates?" %>
  <%= f.input :send_digest_at, as: :time, label: "At what time?" %>
  <%= f.input :timezone, as: :time_zone, default: "Eastern Time (US & Canada)", label: "What's your timezone?" %>

  <br/><br/>

  Team Members:<br/>
  (we'll send an invitation to anyone that's not already a member of simple status)<br/>

  <div id="team_memberships">
    <%= f.simple_fields_for :team_memberships do |team_membership| %>
      <%= render 'team_membership_fields', f: team_membership %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add member', f, :team_memberships %>
    </div>
  </div>

  <br/><br/>

  <%= f.submit nil, class: 'btn btn-primary' %>
<% end %>
