<div class="span12">
  <h1>Listing Teams (<%= @teams.size %>)</h1>

  <% if @teams.present? %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @teams.each do |team| %>
      <tr>
        <td><%= team.name.titleize %></td>
        <td>
          <%= link_to 'Edit', edit_admin_team_path(team) %> |
          <%= link_to 'Delete', [:admin, team], data: { confirm: "Are you sure?" }, method: :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
  <br/>
  <p>No teams have been created yet.</p>
  <br/>
  <% end %>

  <%= link_to new_admin_team_path, class: "btn btn-primary" do %>
  Create a New Team</a>
  <% end %>
</div>
