<div class="span12">
  <h1>Status report for team: <%= @status_report.team.name %></h1>
  <h2><%= @status_report.created_at.strftime("%m/%d/%Y at %l:%M%p") %></h2>
  <hr/>
  <h3>Updates from the team:</h3>
  <% @status_report.status_summaries.each do |status_summary| %>
    <strong><%= status_summary.user.email %> @ <%= status_summary.created_at.strftime("%m/%d/%Y at %l:%M%p") %></strong>
    <%= simple_format(status_summary.body) %>
    <hr/>
  <% end %>

  <% @no_response_from = @status_report.team.users - @status_report.users%>
  <% if @no_response_from.present? %>
    <h3>Not yet responded:</h3>

    <ul>
    <% @no_response_from.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
    </ul>
  <% end %>

</div>
