<!DOCTYPE html>
<html>
<head>
  <title>Simple Status</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <% if false %><script type="text/javascript">Stripe.setPublishableKey('pk_sgMGdcpy0H8F1OqdH0J7esjxavF0O');</script><% end %>
  <script type="text/javascript">Stripe.setPublishableKey('pk_neubDI84lQmB6lgnlJRD885GqtazV');</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>

        <%= link_to "Simple Status", customer_root_url, class: "brand" %>
        <div class="nav-collapse collapse" id="nav-collapse-01">
          <ul class="nav">
            <li class= <%= 'active' if params[:controller] == 'customer_home' %>><%= link_to "Home", customer_root_path %></li>
            <li class= <%= 'active' if params[:controller] == 'status_reports' %>><%= link_to "Status Reports", status_reports_path %></li>
            <% if current_membership && (current_membership.role == 'god' || current_membership.role == 'admin' || current_membership.role == 'owner') %>
              <li><%= link_to "Admin", admin_customer_root_path %></li>
            <% end %>
          </ul> <!-- /nav -->
          <ul class="nav pull-right">
            <% if current_user %>
              <li><%= link_to "Signed in as: #{current_user.email}", "#" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
         </ul>
        </div>
      </div>
    </div>
  </div>

  <% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
  <% end %>

<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>

<%= render '/common/analytics' %>

</body>
</html>
