<!DOCTYPE html>
<html>
<head>
  <%= render '/common/head' %>
  <style>
  body { padding-top: 60px; }
  </style>
</head>
<body data-spy="scroll" data-target=".navbar">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Simple Status", master_root_url, class: "brand" %>
        <div class="nav-collapse collapse" id="nav-collapse-01">
          <ul class="nav">
            <li><%= link_to "Features", "/#features" %></li>
            <li><%= link_to "Pricing", "/#pricing" %></li>
          </ul> <!-- /nav -->
          <ul class="nav pull-right">
            <% if current_user %>
              <li><%= link_to "Signed in as: #{current_user.email}", "#" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
         </ul>

        </div>
      </div>
    </div>
  </div>

  <%= render '/common/notification' %>

  <% if params[:controller] == 'home' %>
    <%= yield %>
  <% else %>
    <div class="container">
      <div class="row">
        <br/><br/><br/>
        <%= yield %>
      </div>
    </div>
  <% end %>

  <script>
    $('#navbar').scrollspy()
  </script>

  <%= render '/common/analytics' %>
</body>
</html>
