<!DOCTYPE html>
<html>
<head>
  <title>Simple Status</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <% if false %><script type="text/javascript">Stripe.setPublishableKey('pk_sgMGdcpy0H8F1OqdH0J7esjxavF0O');</script><% end %>
  <script type="text/javascript">Stripe.setPublishableKey('pk_neubDI84lQmB6lgnlJRD885GqtazV');</script>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".navbar">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Simple Status", master_root_url, class: "brand" %>
        <div class="nav-collapse collapse" id="nav-collapse-01">
          <ul class="nav">
            <li><%= link_to "Features", "/#features" %></li>
            <li><%= link_to "Pricing", "/#pricing" %></li>
          </ul> <!-- /nav -->
          <ul class="nav pull-right">
            <% if current_user %>
              <li><%= link_to "Signed in as: #{current_user.email}", "#" %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
            <% end %>
         </ul>

        </div>
      </div>
    </div>
  </div>

  <% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  </div>
  <% end %>

  <% unless params[:controller] == 'home' %>
    <div class="container">
    <div class="row">
      <br/><br/><br/>
  <% end %>

  <%= yield %>

  <% unless params[:controller] == 'home' %>
    </div>
    </div>
  <% end %>


  <script>
    $('#navbar').scrollspy()
  </script>

  <%= render '/common/analytics' %>
</body>
</html>
